h2{
	margin-left: 14%;
}

h3{
	color: green;
} 

header{
	width: 99%;
}

#head_head{ 
	background-image: url(glav.jpg); 
	background-repeat: no-repeat; 
	background-position: top center; 
	background-attachment: fixed;
	background-size: cover;
}

#no-found{
	text-align: center;
	background: rgba(255,245,215,0.5)
}

#mine{
	float: left;
	width: 12%;
	height: 25%;
}

.menu{
	float: left;
	margin-left: 2%;
}

.menu:hover{
	background: rgba(255,245,215,0.5)
}

.column{
	width: 20%;
	float: left;
}

.centre-column{
	width: 60%;
	float: left;
}

.center-content{
	text-align: left;
	width: 100%;
	background: rgba(255,245,215,0.7);	
	color: black;
}

.text-title{
	text-align: left;
	color: green;
}

.leva{
	clear: both;
	margin-top: 4%;
	width: 99%;
	height: 99%;
}

.nav{
	background: url(line.jpg)
}

.photo-center{
	text-align: center;
	width: 100%;
	margin-top: 2%;
}

.gallery{
	margin-top: 4%;
	width: 80%;
}

.link{
	color: green;
}

.gal{
	text-align: center;
	margin-top: 10%;
}